<link rel="import" href="../../bower_components/polymer/polymer.html">
<script src="../../bower_components/moment/min/moment.min.js"></script>
<script src="../../bower_components/socket.io-client/socket.io.js"></script>
<script src="../../bower_components/tinycolor/tinycolor.js"></script>
<script src="../../bower_components/tinygradient/tinygradient.js"></script>

<dom-module id="clock-app">
    <style>

    @font-face {
        font-family: 'Roboto';
        src: url('fonts/Roboto-Regular.ttf')  format('truetype');
    }

    :host {
        display: -webkit-flex;
        display: flex;
        height: 100%;
        background: #2196F3;
        color: white;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        font-size: 100px;
        text-shadow: 1px 1px 2px #0D47A1;
        font-family: 'Roboto', serif;
        transition: background-color 1s ease-in-out;
    }

    .toast {
        position: fixed;
        padding: 16px;
        right: 16px;
        bottom: 16px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -webkit-transform: translate3d(0, 75px, 0);
        transform: translate3d(0, 75px, 0);
        -webkit-transition: -webkit-transform 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
        transition: transform 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }

    .toast.show {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    </style>

    <template>
        <span>{{time}}</span>
        <div id="toast" class="toast" on-tap="clear">Dismiss</div>
    </template>
</dom-module>

<script>
    (function () {
        function generateColors(startColor, endColor, steps) {
            var gradient = tinygradient(startColor, endColor),
                colors = gradient.hsv(steps, true);

            return colors;
        }

        Polymer({
            is: 'clock-app',

            properties: {
                alarms: {
                    type: Array,
                    value: []
                },
                colors: {
                    type: Array,
                    value: generateColors('green', 'red', 101)
                },
                updateClockInterval: {
                    type: Number,
                    value: 1000
                },
                socketReconnectionDelay: {
                    type: Number,
                    value: 1000
                },
                socketReconnectionDelayMax: {
                    type: Number,
                    value: 50000
                },
                timerInterval: {
                    type: Number,
                    value: 100
                }
            },

            ready: function () {
                var self = this,
                    now = moment().format('HH:mm'),
                    interval = setInterval(function () {
                        now = moment().format('h:mm'),
                        self.time = now;
                    }, this.updateClockInterval);

                var socket = io('http://localhost:8080', {
                    'reconnectionDelay': this.socketReconnectionDelay,
                    'reconnectionDelayMax' : this.socketReconnectionDelayMax
                });

                socket.on('alarm', this.addAlarm.bind(this));
                socket.on('deleteAlarm', this.deleteAlarm.bind(this));

                this.time = now;
            },

            addAlarm: function (data) {
                var self = this,
                    start = moment(),
                    end = moment(data.date),
                    duration = moment.duration(end.diff(start)),
                    secondsFromNow = parseInt(Math.ceil(duration.asSeconds(), 10)),
                    millisecondsFromNow = secondsFromNow * 1000;

                var alarm = {
                    id: data.id
                };

                alarm.alarmTimer = setTimeout(function () {
                    clearTimeout(alarm.alarmTimer);
                    alarm.alarmTimer = null;

                    self.$.toast.classList.add('show');
                }, millisecondsFromNow);

                alarm.timer = setInterval(function () {
                    var now = moment(),
                        duration = moment.duration(end.diff(now)),
                        color;

                    self.countdown = parseInt(Math.ceil(duration.asSeconds(), 10));

                    /*
                     * update the clocks background color with a color from the
                     * colors array
                     */
                    color = self.colors[Math.floor((1 - self.countdown / secondsFromNow) * 100)];
                    self.style.backgroundColor = color.toHexString();

                    if (!alarm.alarmTimer) {
                        clearInterval(alarm.timer);
                        alarm.timer = null;
                    }
                }, self.timerInterval);

                this.push('alarms', alarm);
            },

            deleteAlarm: function (data) {
                var i = 0,
                    length = this.alarms.length,
                    alarm;

                for (i; i < length; i += 1) {
                    if (this.alarms[i].id === data.id) {
                        alarm = this.splice('alarms', i)[0];
                        clearTimeout(alarm.alarmTimer);
                        clearInterval(alarm.timer);
                        this.clear();

                        break;
                    }
                }
            },

            clear: function () {
                this.style.backgroundColor = null;
                this.$.toast.classList.remove('show');
            }
        });
    }());
</script>
