<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/font-roboto-local/roboto.html">

<dom-module id="weather-app">
    <style>

    :host {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        font-family: 'Roboto', serif;
        text-shadow: 1px 1px 2px #0D47A1;
    }

    h1 {
        margin-top: 0;
        font-weight: 100;
        font-size: 60px;
    }

    .t-shirt {
        width: 200px;
    }

    </style>

    <template>
        <iron-ajax
            id="weatherAjax"
            auto
            url="http://api.wunderground.com/api/237c499a64ba2cec/conditions/forecast/q/NC/Apex.json"
            handle-as="json"
            on-response="handleWeatherResponse"></iron-ajax>

        <span>{{location}}</span>
        <h1><span>{{currentTemp}}</span>&deg;</h1>
        <img src$="{{icon}}">
        <div>{{clothes.male.top}}</div>
        <div>{{clothes.male.bottom}}</div>
        <img class="t-shirt" src="icons/t-shirt.svg">
    </template>
</dom-module>

<script>
    (function () {
        var clothes = {
            hot: {
                male: {
                    top: 't-shirt',
                    bottom: 'shorts'
                },
                female: {
                    top: 't-shirt',
                    bottom: 'shorts'
                }
            },
            mild: {
                male: {
                    top: 't-shirt',
                    bottom: 'pants'
                },
                female: {
                    top: 't-shirt',
                    bottom: 'pants'
                }
            },
            cold: {
                male: {
                    top: 'long-sleeves',
                    bottom: 'pants'
                },
                female: {
                    top: 'long-sleeves',
                    bottom: 'pants'
                }
            }
        };

        var weatherIconMap = {
            chanceflurries: 'snow',
            chancerain: 'rain',
            chancesleet: 'sleet',
            chancesnow: 'snow',
            chancestorms: 'tstorms',
            clear: 'clear',
            cloudy: 'cloudy',
            flurries: 'snow',
            fog: 'cloudy',
            hazy: 'cloudy',
            mostlycloudy: 'mostlysunny',
            mostlysunny: 'mostlysunny',
            partlycloudy: 'mostlysunny',
            partlysunny: 'mostlysunny',
            sleet: 'sleet',
            rain: 'rain',
            snow: 'snow',
            sunny: 'clear',
            tstorms: 'tstorms',
            nt_chanceflurries: 'snow',
            nt_chancerain: 'nt_rain',
            nt_chancesleet: 'sleet',
            nt_chancesnow: 'snow',
            nt_chancestorms: 'tstorms',
            nt_clear: 'nt_clear',
            nt_cloudy: 'nt_cloudy',
            nt_flurries: 'nt_snow',
            nt_fog: 'nt_cloudy',
            nt_hazy: 'nt_cloudy',
            nt_mostlycloudy: 'nt_cloudy',
            nt_mostlysunny: 'nt_cloudy',
            nt_partlycloudy: 'nt_cloudy',
            nt_partlysunny: 'nt_cloudy',
            nt_sleet: 'nt_sleet',
            nt_rain: 'nt_rain',
            nt_snow: 'nt_snow',
            nt_sunny: 'nt_clear',
            nt_tstorms: 'tstorms',
        };

        function getClothes(temperature) {
            if (temperature >= 70) {
                return clothes.hot;
            }

            if (temperature >= 50) {
                return clothes.mild;
            }

            return clothes.cold;
        }

        function getWeatherIcon(condition) {
            return 'icons/weather/' + weatherIconMap[condition] + '.png';
        }

        Polymer({
            is: 'weather-app',

            properties: {
                location: String,
                currentTemp: String,
                icon: String
            },

            ready: function () {
                var self = this;

                /*
                 * get the weather every 30 minutes
                 */
                setInterval(function () {
                    self.$.weatherAjax.generateRequest();
                }, 1000 * 60 * 30);
            },

            handleWeatherResponse: function (event) {
                var data = event.detail.response;

                this.location = data.current_observation.display_location.full;
                this.currentTemp = Math.round(parseInt(data.current_observation.temp_f, 10));
                this.highTemp = Math.round(parseInt(data.forecast.simpleforecast.forecastday[0].high.fahrenheit, 10));
                this.lowTemp = Math.round(parseInt(data.forecast.simpleforecast.forecastday[0].low.fahrenheit, 10));
                this.icon = this.resolveUrl(getWeatherIcon(data.current_observation.icon));
                this.clothes = getClothes(this.highTemp);
            }
        });
    }());
</script>
